#dashboard{
    display:none;
}
body{
    display: flex;
    background-color: rgb(243, 239, 239);
}
nav ,a{
    display: block; 
    text-decoration: none; 
    padding-bottom: 20px;
    padding-top: 5px;
    height: 70%;
    color: rgb(87, 86, 86);
    font-weight: bolder;
    gap: 20px;
    /* height: 50px; */
}

nav{
    padding-left: 15px;
    display: none;
}
nav a:hover{
    color: red;
    background-color: rgb(243, 239, 239);
    border-left: 3px solid red;
    border-radius: 10px;
}
    
i{
    margin-right: 30px;
    font-weight: bolder;
}
#menu{
    background-color: white;
    width:20lh;
    
}
#icons{
    display: flex;
    align-items: center;
    gap: 20px;
}
#save,#lang{
    padding-bottom: 50px;
}
#ham{
    cursor: pointer;
    padding-left: 30px;
    border: none;
    font-size: 35px;
   
}
#ham:hover{
    color: red;
    font-weight: bolder;
}
#icons{
    background-color: rgb(243, 239, 239);
}
